.header {
    margin-top: 5rem;
}

.container {
    text-align: center;
}

/* Utility Classes */

/* Make element full width */
.u-full-width {
    width: 100%;
    box-sizing: border-box; }
  
  /* Make sure elements don't run outside containers (great for images in columns) */
  .u-max-full-width {
    max-width: 100%;
    box-sizing: border-box; }
  
  /* Float either direction */
  .u-pull-right {
    float: right; }
  .u-pull-left {
    float: left; }
  
  /* Clear a float */
  .u-cf {
    content: "";
    display: table;
    clear: both; }